html, body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    background-color: #ccc;
}

a {
    color: #00f;
}

button,
input[type=submit] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /*
    background-color: #bbb;
    border: 2px solid #bbb;
    border-color: #fff #000 #000 #fff;
    */
    user-select: none;
    font-weight: 600;
}

button:not(:disabled),
input[type=submit]:not(:disabled) {
    cursor: pointer;
}

button:active,
input[type=submit]:active {
    border-color: #000 #fff #fff #000;
}

input[type=text],
input[type=password] {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #ccc;
    border: 2px solid #bbb;
    border-color: #000 #bbb #bbb #000;
}

:focus-visible {
    border: 2px solid #00f !important;
    outline: unset !important;
}

body {
    margin: 0px;
}

button,
.button a {
    color: #000;
    text-decoration: none;
}

button,
.button,
input[type=submit] {
    --black: #555;

    user-select: none;
    font-weight: bold;
    color: #000;
    background-color: #bbb;
    border: 2px solid var(--black) !important;
    box-shadow:
        0px 0px 0px var(--black),
        0px 2px 0px var(--black),
        0px 0px 0px 2px inset #ddd;
    cursor: pointer;
    margin: 4px;
}

button:hover,
.button:hover,
input[type=submit]:hover {
    color: #000;
    background-color: #ccc;
    box-shadow:
        0px 0px 0px var(--black),
        0px 2px 0px var(--black),
        0px 0px 0px 2px inset #eee;
}

button:active,
.button:active,
input[type=submit]:active {
    color: #000;
    background-color: #ccc;
    box-shadow:
        0px 0px 0px var(--black),
        0px 0px 0px 2px inset #eee !important;
    transform: translateY(2px);
    cursor: pointer;
    margin: 4px;
}

button.selected,
.button.selected,
button.channel-selected,
.button.channel-selected {
    color: #000 !important;
    background-color: #ccc !important;
    border-color: var(--black) var(--black) var(--black) var(--black) !important;
    box-shadow:
        0px 0px 0px var(--black),
        0px 0px 0px 2px inset #eee !important;
    transform: translateY(2px);
    cursor: pointer;
    margin: 4px;
}
